body {
  font-family: "Open Sans", sans-serif;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍌</text></svg>")
      16 0,
    auto;
  color: #398ebf;
}

.container {
  margin-top: 10%;
  margin-left: 20%;
}

.intro-sentence {
  font-size: 56px;
}

#name {
  text-shadow: 2px 2px #e3d219;
  color: #e3a019;
}

#name:hover {
  text-shadow: 4px 4px #e3d219;
  color: #e36d19;
}

#name:hover ~ #pic {
  display: block;
}

.location {
  margin-top: 20px;
  font-size: 28px;
}

#pic {
  display: none;
  position: absolute;
  left: 50%;
  width: 400px;
  box-shadow: 1px 1px 2px #e3d219, 0 0 25px #e3d219, 0 0 5px #e3d219;
}

.social-media {
  margin-top: 20px;
}
.social-media a {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
  text-decoration: none;
  color: #e3a019;
}

.social-media a:hover {
  text-shadow: 1px 1px #e3d219;
}

.social-media a:visited {
  color: #e3a019;
}
