html {
  cursor: url("banana.png") 16 0, auto;
}

body {
  font-family: "Comfortaa", cursive;
  color: #398ebf;
}

.container {
  margin-top: 10%;
  margin-left: 20%;
}

.intro-sentence {
  font-size: 56px;
}

#name {
  text-shadow: 2px 2px #e3d219;
  color: #e3a019;
}

#name:hover {
  text-shadow: 4px 4px #e3d219;
  color: #e36d19;
}

#name:hover ~ #pic {
  display: block;
}

.location {
  margin-top: 20px;
  font-size: 28px;
}

#pic {
  display: none;
  position: absolute;
  left: 50%;
  width: 400px;
  box-shadow: 1px 1px 2px #e3d219, 0 0 25px #e3d219, 0 0 5px #e3d219;
}

.social-media {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #e3a019;
}

.social-media a {
  padding: 0px 10px;
  word-wrap: normal;
  display: inline-block;
}

a:hover {
  text-shadow: 1px 1px #e3d219;
}

.social-media a:visited {
  color: #e3a019;
}

.about-me-link {
  margin-top: 10px;
  animation: pulse 5s infinite;
}

.about-me-link a {
  color: #398ebf;
  text-decoration: none;
}

.about-me-link a:hover {
  text-decoration: underline wavy #398ebf;
}
@keyframes pulse {
  0% {
    text-shadow: 1px 1px white;
  }
  100% {
    text-shadow: 1px 1px rgb(87, 150, 201);
  }
}

.article {
  font-size: 25px;
  color: #99cbe8;
  width: 50%;
  padding-left: 30%;
  margin-top: 20px;
}

li {
  font-size: 18px;
}

#codepen {
  width: 75%;
  margin-top: 50px;
}
